.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Hero {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: #343434;
  width: 100%;
}

.SubHeading {
  margin-bottom: 2rem;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
  margin: 0 auto;
  grid-gap: 10px;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .Grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 950px) and (min-width: 650px) {
  .Grid {
    grid-template-columns: 1fr 1fr;
  }
}

.ImgWrapper {
  position: relative;
  background-color: #555;
  background-size: cover;
  background-position: center;
}

.ImgWrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 20;
  opacity: 0;
  animation: white-pulse 2s infinite;
}
.ImgWrapper.Loaded::before {
  animation: none;
}
@keyframes white-pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 0;
  }
}

.Img {
  min-height: 200px;
  display: block;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 1s;
}

.Img.Loaded {
  opacity: 1;
}
